<div *ngIf="clientsDB">
	<div class="flex-container">
    <!-- ngFor agit comme une boucle pour itérer chaque élément de la liste ici clientsDB-->
		<div *ngFor="let client of clientsDB; index as clientId">
      <!-- Mat card qui définit la fiche du client avec ses infos-->
			<mat-card class="example-card">
				<mat-card-header>
          <!-- Logo du client -->
					<div mat-card-avatar class="example-header-image">
						<img id = "logo" src={{client.ICONE}}>
        </div>
						<div class="titles">
              <!-- Nom du client -->
							<mat-card-title class="titleCard">
								<a class="lienDetails" [title]="client.NAME + ' details'"
									[routerLink]="['/client', client.NAME]">
									{{ client.NAME }}
								</a>
							</mat-card-title>
              <!-- Nom d'entreprise Google du client -->
							<mat-card-subtitle>{{client.ENTERPRISE_NAME}}</mat-card-subtitle>
						</div>
				</mat-card-header>
				<mat-card-content>
          <!-- Descritpion du client -->
					<p>
						{{ client.DESCRIPTION }}
					</p>
          <!-- Nombre d'appareils gérés du client -->
					<p>
						{{ client.COUNT }} devices gérés
					</p>
				</mat-card-content>
        <!-- Actions permettant la gestion des appareils, politiques ainsi que l'entreprise -->
				<mat-card-actions>
					<div class="gererMenu">
						<mat-card class="gererMenuElem">
							<a title="Gérer téléphones" [routerLink]="['/client',client.NAME, client.ENTERPRISE_NAME, 'devices']">
								Devices
							</a>
						</mat-card>
						<mat-card class="gererMenuElem">
							<a title="Gérer politiques" [routerLink]="['/client', client.NAME, client.ENTERPRISE_NAME, 'policies']">
								Politiques
							</a>
						</mat-card>

						<mat-card class="gererMenuElem">
							<a title="Gérer entreprise" [routerLink]="['/client', client.NAME, client.ENTERPRISE_NAME, 'enterprise']">
								Entreprise
							</a>
						</mat-card>

					</div>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>