<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1> Ajout d'un client</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <!-- <button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>-->

<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template class="titre" matStepLabel>Entrez les informations sur le client</ng-template>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" placeholder="Client" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="desc" placeholder="Description de l'entreprise" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Lien icone</mat-label>
        <input matInput [(value)]="iconeurl" formControlName="icone" placeholder="https://img.icons8.com/pastel-glyph/64/000000/test-tube.png"
               >
      </mat-form-field>

      <div *ngIf="iconeurl">
      <div mat-card-avatar class="image">
						<img id = "icone" src={{iconeurl}}>
      </div>
      </div>

      <br>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template class="titre" matStepLabel>Entrez le nom d'entreprise</ng-template>
      <mat-form-field>
        <mat-label>Mail</mat-label>
        <input matInput formControlName="mail" placeholder="splus.beir.test@gmail.com"
               required>
      </mat-form-field>
      <mat-form-field>
        <!--https://console.developers.google.com/iam-admin-->
        <mat-label>Id de projet</mat-label>
        <input matInput formControlName="ent" placeholder="id du projet Google"
               required>
      </mat-form-field>
      <mat-form-field>
        <!--https://console.developers.google.com/iam-admin/serviceaccounts-->
        <mat-label>Key Path</mat-label>
        <input matInput formControlName="key" placeholder="C:\key.json"
               required>
      </mat-form-field>
      <input type="file" id="file"
           (change)="handleFileInput($event.target.files)">
      <div>
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="addClient()">Confirmer</button>
    </div>
    </form>
  </mat-step>
</mat-vertical-stepper>

  </mat-card-content>
</mat-card>