<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1> Ajout d'un client</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <!-- <button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>-->

<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template class="titre" matStepLabel>Entrez les informations sur le client</ng-template>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" placeholder="Client" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="desc" placeholder="Description de l'entreprise" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Lien icone</mat-label>
        <input matInput [(value)]="iconeurl" formControlName="icone" placeholder="https://img.icons8.com/pastel-glyph/64/000000/test-tube.png"
               >
      </mat-form-field>

      <div *ngIf="iconeurl">
      <div mat-card-avatar class="image">
						<img id = "icone" src={{iconeurl}}>
      </div>
      </div>

      <br>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template class="titre" matStepLabel>Entrez le nom d'entreprise</ng-template>
      <mat-label>Pour ajouter un client, il faut posséder une adresse mail Google valide et qui ne possède pas déjà d'entreprise.</mat-label>
      <br>
      <mat-form-field>
        <mat-label>Mail</mat-label>
        <input matInput formControlName="mail" placeholder="splus.beir.test@gmail.com"
               required>
      </mat-form-field>
      <br>
      <mat-label>Visitez la <a href="https://console.developers.google.com/" >console d'administration de Google </a>
      et suivez les étapes suivantes :
      </mat-label>
      <br>
      <mat-label>1. Ajouter l'<a href="https://console.cloud.google.com/apis/library" >API Android management.</a></mat-label><br>
      <mat-label>2. Créer un <a href="https://console.cloud.google.com/project"> projet</a> </mat-label><br>
      <mat-label>Notez l'id de projet :</mat-label>
      <br>
      <mat-form-field>
        <mat-label></mat-label>
        <!--https://console.developers.google.com/iam-admin-->
        <mat-label>Id de projet</mat-label>
        <input matInput formControlName="idProjet" placeholder="id du projet Google"
               required>
      </mat-form-field>
      <br>
      <mat-label>3. Créer un <a href="https://console.cloud.google.com/iam-admin" > compte de service </a>
        avec les autorisations : Propriétaire, Utilisateur(Owner, User)</mat-label><br>
        <mat-label>4. Créer et téléchargez un fichier de clé JSON.</mat-label><br>
        <mat-label>Ajoutez le fichier obtenu.</mat-label><br>
      <br>
      <br>
      <input type="file" id="file"
           (change)="handleFileInput($event.target.files)">
      <div>
        <mat-label>5. Cliquez sur le bouton "S'inscire"
          <br>
          Si un lien d'inscription apparaît, tout s'est bien déroulé
        </mat-label>
        <br>
         <button mat-button (click)="getSignupUrl()">S'inscrire</button>
         <div *ngIf="lienSub">
        <p> Visitez le <a href= {{lienSub}} target="_blank">lien d'inscription et suivez les instructions</a>
        </p> 
        <br>
         <mat-label>6. Entrez le token obtenu </mat-label>
         <br>
        <mat-form-field>
        <mat-label>Entrez le token :</mat-label>
        <input matInput formControlName="token" placeholder=""
               required>
      </mat-form-field>
       <br>
      <mat-label>Appuyez sur "Créer l'entreprise"</mat-label>
      <br> 
      <button mat-button (click)="createEntreprise()">Créer l'entreprise</button>
        </div>
        <br>
      <mat-form-field>
        <mat-label>Entrez le nom d'entreprise :</mat-label>
        <input matInput formControlName="ent" placeholder="enterprise/.."
               required>
      </mat-form-field>
      <br>
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="addClient()">Confirmer</button>
    </div>
    </form>
  </mat-step>
</mat-vertical-stepper>

  </mat-card-content>
</mat-card>