<mat-card>
	<button mat-button class = "buttonRetour" [routerLink]="['/client', name, enterprise_name, 'policies']" > Retour </button>
	<br>
	<mat-card-title>Nouvelle politique</mat-card-title>
	<mat-form-field class="formField" required>
		<mat-label>Nom de la politique </mat-label>
		<input matInput [(ngModel)]="policy_name"
                    placeholder={{policy_name}} (value)= "policy_name" >
		<mat-hint>{{policy_name_temp}}</mat-hint>

	</mat-form-field>

	<mat-divider></mat-divider>
	<br>
	<button mat-button type = "submit" class = "buttonEnvoyer" (click)="Envoyer()"[routerLink]="['/client', name, enterprise_name, 'policies']" > Créer </button>
</mat-card>