<div *ngIf="enterprise_name">
	<header>
		<!--<app-client-details></app-client-details>-->
	</header>

	<body>

		<mat-card class="device-card-background">
			<mat-card-title>
				<button mat-button (click)="refresh()" > Actualiser</button>
				<button mat-button (click)="new()" > Inscription</button>
			</mat-card-title>
			<div *ngIf="inscription">
				<mat-card class="inscription-card">
					<mat-card-title> Inscription </mat-card-title>
				</mat-card>
			</div>
			<mat-card class="device-card">
				<mat-card-title>
          <div>
					Appareils de {{name}}
          </div>
          <div>
            <button mat-button (click)="deleteDevices()" > Supprimer devices</button>
          </div>
				</mat-card-title>
				<mat-card-subtitle>
					Liste des appareils de ce client
				</mat-card-subtitle>
				<div *ngIf="devicesList else loading">
					<div *ngFor="let device of devicesList; index as deviceId">
						<mat-card>
							<mat-card-title class = "title">
								<div>
									{{device.hardwareInfo.brand}}
									{{device.hardwareInfo.model}}
								</div><!--
								<div class = "actions">
									<button mat-button (click)="deleteDevice(device.name)" > LOCK</button>
									<button mat-button (click)="deleteDevice(device.name)" > RESET_PASSWORD</button>
									<button mat-button (click)="deleteDevice(device.name)" > REBOOT</button>
								</div>-->
							</mat-card-title>
							<mat-card-subtitle>
								{{device.networkInfo.wifiMacAddress}}
								<br>
								<a class="policyLink" [routerLink]="['/client', clientId, 'policies']">
									{{device.policyName}}
								</a>
							</mat-card-subtitle>
							<mat-card-content>
								<mat-tab-group>
									<mat-tab label="Modifier">
										<div class="modify-tab">
											<mat-form-field class="formField">
												<mat-label>Politique</mat-label>
												<input matInput [(ngModel)]="devicesList[deviceId].policyName"
                    placeholder="Ex. " (value)= "devicesList[deviceId].policyName" >
                          </mat-form-field>
												<mat-form-field>
													<mat-label>State</mat-label>
													<mat-select [(value)]="devicesList[deviceId].state">
														<mat-option *ngFor="let val of deviceStates | keyvalue"
															[value]="val.value">
															{{val.value}}
														</mat-option>
													</mat-select>
												</mat-form-field>
                        <!-- DISABLED REASON CANNOT READ VALUE OF UNDEFINED
												<div *ngIf="devicesList[deviceId].state == 'DISABLED'">
													<mat-form-field appearance="fill">
														<mat-label>Raison</mat-label>
														<input matInput [(ngModel)]="devicesList[deviceId].disabledReason.defaultMessage"
                    placeholder="Ex. " (value)= "devicesList[deviceId].disabledReason.defaultMessage" >
                          </mat-form-field>
												</div>
                        -->
												<div class="buttons">
													<button mat-button (click)="updateDevice(device)" > Modifier</button>
													<button mat-button (click)="deleteDevice(device.name)" > Supprimer</button>
												</div>
										</div>
									</mat-tab>
									<mat-tab label="Informations">
										<div class="infos">
											<p class="infos-champs"> Nom : {{device.name}} </p>
											<p class="infos-champs"> Marque : {{device.hardwareInfo.brand}}
											</p>
											<p class="infos-champs"> Modèle : {{device.hardwareInfo.model}}
											</p>
											<p class="infos-champs"> N° Série :
												{{device.hardwareInfo.serialNumber}} </p>
											<p class="infos-champs"> Management : {{device.managementMode}}
											</p>
											<p class="infos-champs"> State : {{device.state}} </p>
											<p class="infos-champs"> Compliant : {{device.policyCompliant}}
											</p>
											<p class="infos-champs"> Version Android :
												{{device.softwareInfo.androidVersion}} </p>
											<br>
											<p class="infos-champs"> IMEI : {{device.networkInfo.imei}} </p>
											<p class="infos-champs"> MAC :
												{{device.networkInfo.wifiMacAddress}}
											</p>
											<p class="infos-champs"> Opérateur :
												{{device.networkInfo.networkOperatorName}} </p>
											<p class="infos-champs"> API Level : {{device.apiLevel}} </p>
											<p class="infos-champs"> RAM : {{device.memoryInfo.totalRam}}
											</p>
											<p class="infos-champs"> Stockage :
												{{device.memoryInfo.totalInternalStorage}} </p>
											<div *ngFor="let sys of device.systemProperties |keyvalue; index as sysId">
												{{sys.key}} :{{sys.value}}
											</div>
										</div>
									</mat-tab>
									<mat-tab label="Events">
										<mat-tab-group>
											<mat-tab label="Memory">
												<div class="events-tab">
													<div *ngFor="let event of device.memoryEvents; index as eventId">
														<mat-expansion-panel>
															<mat-expansion-panel-header>
																<mat-panel-title>
																	<p> {{event.eventType}} </p>
																</mat-panel-title>
															</mat-expansion-panel-header>
															Date : {{event.createTime}} <br>
																Capacity : {{event.byteCount}}bytes
															</mat-expansion-panel>
													</div>
												</div>
											</mat-tab>
											<mat-tab label="Applications">
												<div class="events-tab">
													<div *ngFor="let app of device.applicationReports; index as appId">
														<mat-expansion-panel>
															<mat-expansion-panel-header>
																<mat-panel-title>
																	<p> {{app.packageName}} </p>
																</mat-panel-title>
															</mat-expansion-panel-header>
															DisplayName : {{app.displayName}} <br>
																Installer : {{app.installerPackageName}}
															</mat-expansion-panel>
													</div>
												</div>
											</mat-tab>
										</mat-tab-group>
									</mat-tab>
								</mat-tab-group>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</mat-card>
		</mat-card>
		<ng-template #loading>Chargement liste...</ng-template>
	</body>
</div>