<div *ngIf="enterprise_name">
	<body>
			<mat-card class="devices-card-background">
				<mat-card-title class="titre-card">
					<div>
						Appareils de {{name}}
            <button mat-button (click)="refresh()" > Actualiser</button>
            <button class="suppAll" mat-button (click)="deleteAllDevices()" > Supprimer devices</button>
					</div>
				</mat-card-title>
				<mat-card-subtitle class="subtitre-card">
					Liste des appareils de ce client
				</mat-card-subtitle>
				<div *ngIf="devicesList else loading">
					<div *ngFor="let device of devicesList; index as deviceId">
						<mat-card class="device-card">
							<mat-card-title class="title-device">
								<div>
									{{device.hardwareInfo.brand}}
									{{device.hardwareInfo.model}}
                  <button class="supp" mat-button (click)="deleteDevice(device.name)" > Supprimer</button>
								</div>

							</mat-card-title>
							<mat-card-subtitle class="title-device">
								Mac Wifi : {{device.networkInfo.wifiMacAddress}}
							</mat-card-subtitle>
							<mat-card-content>
								<mat-tab-group>
									<mat-tab label="Modifier">
										<div class="modify-tab">
											<mat-form-field class="formField">
												<mat-label>Politique</mat-label>
												<input matInput [(ngModel)]="devicesList[deviceId].policyName"
                    placeholder="Ex. " (value)= "devicesList[deviceId].policyName" >
                          </mat-form-field>
                          <br>
												<mat-form-field>
													<mat-label>Status</mat-label>
													<mat-select [(value)]="devicesList[deviceId].state">
														<mat-option *ngFor="let val of deviceStates | keyvalue"
															[value]="val.value">
															{{val.value}}
														</mat-option>
													</mat-select>
												</mat-form-field>
												<!-- DISABLED REASON CANNOT READ VALUE OF UNDEFINED
												<div *ngIf="devicesList[deviceId].state == 'DISABLED'">
													<mat-form-field appearance="fill">
														<mat-label>Raison</mat-label>
														<input matInput [(ngModel)]="devicesList[deviceId].disabledReason.defaultMessage"
                    placeholder="Ex. " (value)= "devicesList[deviceId].disabledReason.defaultMessage" >
                          </mat-form-field>
												</div>
                        -->
												<div class="buttons">
													<button mat-raised-button (click)="updateDevice(device)" > Modifier</button>
                          <button mat-raised-button (click)="rebootDevice(device.name)" > Redémarrer</button>
													<button mat-raised-button (click)="resetPasswordDevice(device.name)" > Réinitialiser le mot de passe</button>
                          <button mat-raised-button (click)="lockDevice(device.name)" > Eteindre l'écran</button>
												</div>
										</div>
									</mat-tab>
									<mat-tab label="Informations">
										<div class="infos">
											<p class="infos-champs"> Nom : {{device.name}} </p>
											<p class="infos-champs"> Nom d'utilisateur : {{device.userName}} </p>
											<p class="infos-champs"> Marque : {{device.hardwareInfo.brand}}
											</p>
											<p class="infos-champs"> Modèle : {{device.hardwareInfo.model}}
											</p>
											<p class="infos-champs"> N° Série :
												{{device.hardwareInfo.serialNumber}} </p>
											<p class="infos-champs"> Management : {{device.managementMode}}
											</p>
											<p class="infos-champs"> State : {{device.state}} </p>
											<p class="infos-champs"> Compliant : {{device.policyCompliant}}
											</p>
											<p class="infos-champs"> Version Android :
												{{device.softwareInfo.androidVersion}} </p>
											<br>
											<p class="infos-champs"> IMEI : {{device.networkInfo.imei}} </p>
											<p class="infos-champs"> MAC :
												{{device.networkInfo.wifiMacAddress}}
											</p>
											<p class="infos-champs"> Opérateur :
												{{device.networkInfo.networkOperatorName}} </p>
											<p class="infos-champs"> API Level : {{device.apiLevel}} </p>
											<p class="infos-champs"> RAM : {{device.memoryInfo.totalRam}}
											</p>
											<p class="infos-champs"> Dernière synchronisation de la politique : <br>
                      {{device.enrollmentTime}} </p>
												<p class="infos-champs"> Date d'inscription : <br>
                      {{device.enrollmentTime}} </p>
													<p class="infos-champs"> Stockage :
														{{device.memoryInfo.totalInternalStorage}} </p>
													<div
														*ngFor="let sys of device.systemProperties |keyvalue; index as sysId">
														{{sys.key}} :{{sys.value}}
													</div>
										</div>
									</mat-tab>
									<mat-tab label="Events">
										<mat-tab-group>
											<mat-tab label="Memory">
												<div class="events-tab">
													<div *ngFor="let event of device.memoryEvents; index as eventId">
														<mat-expansion-panel>
															<mat-expansion-panel-header>
																<mat-panel-title>
																	<p> {{event.eventType}} </p>
																</mat-panel-title>
															</mat-expansion-panel-header>
															Date : {{event.createTime}} <br>
																Capacity : {{event.byteCount}}bytes
															</mat-expansion-panel>
													</div>
												</div>
											</mat-tab>
											<mat-tab label="Applications">
												<div class="events-tab">
													<div *ngFor="let app of device.applicationReports; index as appId">
														<mat-expansion-panel>
															<mat-expansion-panel-header>
																<mat-panel-title>
																	<p> {{app.packageName}} </p>
																</mat-panel-title>
															</mat-expansion-panel-header>
															DisplayName : {{app.displayName}} <br>
																Installer : {{app.installerPackageName}}
															</mat-expansion-panel>
													</div>
												</div>
											</mat-tab>
										</mat-tab-group>
									</mat-tab>
								</mat-tab-group>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</mat-card>
		<ng-template #loading>
      <div *ngIf="noDevices else load">
        Pas de devices
      </div>
      <ng-template #load>
        Chargement liste...
      </ng-template>
      </ng-template>
	</body>
</div>