h1{
  text-align:center;
}
.formField
{
  width:90%;
}
.devicesCards
{
  display:flex;
  flex-wrap: wrap;
  width:100%;
    min-width:200px;
}
.buttons
{
  display:flex;
  flex-wrap:wrap;
  background: rgb(209, 206, 206);
}
.infos
{
  height:200px;
}
.modify-tab
{
  height : 200px;
  border-radius: 8px;

}
.events-tab
{
  height : 250px;
}
.infos-champs
{
  padding-right:5px;
}
.device-card-background
{
  width: 90%;
  min-width:200px;
  min-height: 100px;
  margin:15px;
  background: rgb(192, 189, 189);
  
}
.device-card
{
  border-radius : 8px;
}
device-card-header
{
  justify-content: center;
}
#logo
{
  max-height: 50px;
  max-width: 50px;
}
.infosButton
{
  justify-content:left;
  width:100%;
  text-align:left;
}