<div *ngIf="client">
	<mat-card>
		<mat-card-title>
			Politiques
			<button mat-button class ="button" (click)= "refresh()"> Rafraichir </button>
			<button mat-button class="button" [routerLink]="['/client', clientId, 'policies', 'new']"> Créer </button>
		</mat-card-title>
		<div *ngIf="policies else loading">
			<div *ngFor="let pol of policies; index as policyId">
				<mat-card>
					<mat-card-title>
						{{pol.name}}
						<button mat-button class ="devicesLink" [routerLink]="['/client', clientId, 'devices']">
              Devices
            </button>
						<button mat-button id="supprimer" class="button" (click)= "delete(pol.name)"> Supprimer </button>
					</mat-card-title>
					<mat-tab-group>
						<mat-tab label="Infos">
							<div class="infos-tab">
								<mat-form-field class="formField" required>
									<mat-label>Nom de la politique </mat-label>
									<input matInput [(ngModel)]="policies[policyId].name"
                    placeholder="Ex. entreprises/NomEntreprise/policies/NomPolitique " (value)= "policies[policyId].name" >
                </mat-form-field>
									<p>Version : {{pol.version}}</p>
									<p>appAutoUpdate : {{pol.appAutoUpdatePolicy}}</p>
									<mat-form-field title="Politique update apps" class="formField"
										appearance="standard">
										<mat-label>App auto update </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].appAutoUpdatePolicy">
											<mat-option *ngFor="let appVal of appAutoUpdateValues | keyvalue"
												[value]="appVal.value">
												{{appVal.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<p>Bluetooth désactivé : {{pol.bluetoothDisabled}}</p>
									<!--<p>Bluetooth désactivé :
										<app-bool-input property="Bluetooth" [(value)]="policies[policyId].bluetoothDisabled"
											(valueChanged)="policies[policyId].bluetoothDisabled = $event">
										</app-bool-input>

									</p>-->
									<mat-form-field title="Activation Bluetooth" class="formField"
										appearance="standard">
										<mat-label>Bluetooth </mat-label>
										<mat-select
											[(ngModel)]="policies[policyId].bluetoothDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.value">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<p>Bluetooth Config désactivé : {{pol.bluetoothConfigDisabled}}</p>
									<mat-form-field title="Activation Config Bluetooth" class="formField"
										appearance="standard">
										<mat-label>Config Bluetooth </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].bluetoothConfigDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.value">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<!--
									<div>Ajouter Utilisateur :
										{{pol.addUserDisabled}}
										<app-bool-input property="Ajouter User" [value]="pol.addUserDisabled"
											(valueChanged)="onChanged(champ ='addUser', policyId, event)">
										</app-bool-input>
                  </div>-->
									<p>Ajuster volume : {{pol.adjustVolumeDisabled}}</p>
									<p>Factory Reset : {{pol.factoryResetDisabled}}</p>
									<p>Instaler apps : {{pol.installAppsDisabled}}</p>
									<p>Monter carte SD : {{pol.mountPhysicalMediaDisabled}}</p>
									<p>Modifier compte : {{pol.modifyAccountsDisabled}}</p>
									<p>Safe boot : {{pol.safeBootDisabled}}</p>
									<p>Désinstaller apps : {{pol.uninstallAppsDisabled}}</p>
									<p>Status bar : {{pol.statusBarDisabled}}</p>
									<p>Keyguard : {{pol.keyguardDisabled}}</p>
									<p>Min API Level : {{pol.minimumApiLevel}}</p>
									<p>Contact Sharing : {{pol.bluetoothContactSharingDisabled}}</p>
									<p>ShortSupportMessage : {{pol.shortSupportMessage}}</p>
									<p>LongSupportMessage : {{pol.longSupportMessage}}</p>
									<p>Wifi Config LockDown : {{pol.wifiConfigsLockdownEnabled}}</p>
									<p>BluetoothConfig : {{pol.bluetoothConfigDisabled}}</p>
									<p>Config Réseau : {{pol.cellBroadcastsConfigDisabled}}</p>
									<p>Config crédits : {{pol.credentialsConfigDisabled}}</p>
									<p>Config réseau mobile : {{pol.mobileNetworksConfigDisabled}}</p>
									<p>Config VPN : {{pol.vpnConfigDisabled}}</p>
									<p>Config wifi : {{pol.wifiConfigDisabled}}</p>
									<p>CreateWindows : {{pol.createWindowsDisabled}}</p>
									<p>NetworkReset : {{pol.networkResetDisabled}}</p>
									<p>OutgoingBeam : {{pol.outgoingBeamDisabled}}</p>
									<p>outgoingCalls : {{pol.outgoingCallsDisabled}}</p>
									<p>RemoveUser : {{pol.removeUserDisabled}}</p>
									<p>ShareLocation : {{pol.shareLocationDisabled}}</p>
									<p>SMS : {{pol.smsDisabled}}</p>
									<p>Unmuted Micro : {{pol.unmuteMicrophoneDisabled}}</p>
									<p>USB File Transfer : {{pol.usbFileTransferDisabled}}</p>
									<p>Ensure Verify Apps : {{pol.ensureVerifyAppsEnabled}}</p>
									<p>UserIcons : {{pol.setUserIconDisabled}}</p>
									<p>Wallpaper : {{pol.setWallpaperDisabled}}</p>
									<p>DataRoaming : {{pol.dataRoamingDisabled}}</p>
									<p>NetworkEscape : {{pol.networkEscapeHatchEnabled}}</p>
									<p>Block Application : {{pol.blockApplicationsEnabled}}</p>
									<p>InstallUnknownSources : {{pol.installUnknownSourcesAllowed}}</p>
									<p>Fun (easterEgg) : {{pol.funDisabled}}</p>
									<p>AutoTime : {{pol.autoTimeRequired}}</p>
									<p>KioskCustomLauncher : {{pol.kioskCustomLauncherEnabled}}</p>
									<p>SkipFirstUseHints : {{pol.skipFirstUseHintsEnabled}}</p>
									<p>privateKeySelection : {{pol.privateKeySelectionEnabled}}</p>
									<p>USB Mass Storage : {{pol.usbMassStorageEnabled}}</p>
							</div>
							<ng-template class="undefined" #NonDef>
								undefined
							</ng-template>
						</mat-tab>
						<mat-tab label="Applications">
							<div class="apps-tab">
								<div *ngFor="let app of pol.applications; index as appId">
									Application n°{{appId}}<br>
									<mat-form-field class="formFieldApp" appearance="standard">
										<mat-label>PackageName</mat-label>
										<input matInput [(ngModel)]="policies[policyId].applications[appId].packageName"
                    placeholder="Ex. com.android.chrome " (value)= "policies[policyId].applications[appId].packageName" >
                  </mat-form-field>

										<mat-form-field class="formFieldApp" appearance="standard">
											<mat-label>Type d'installation</mat-label>
											<mat-select (selectionChange)="update(policyId)"
												[(value)]="policies[policyId].applications[appId].installType">
												<mat-option *ngFor="let val of installTypeValues | keyvalue"
													[value]="val.value">
													{{val.value}}
												</mat-option>
											</mat-select>
										</mat-form-field>

										<mat-form-field class="formFieldApp" appearance="standard">
											<mat-label>Permissions</mat-label>
											<mat-select (selectionChange)="update(policyId)"
												[(value)]="policies[policyId].applications[appId].defaultPermissionPolicy">
												<mat-option *ngFor="let val of defaultPermissionValues | keyvalue"
													[value]="val.value">
													{{val.value}}
												</mat-option>
											</mat-select>
										</mat-form-field>
										<button mat-button (click)="addApp(policyId, appId)">Ajout application</button>
										<button mat-button (click)="delApp(policyId, appId)">Supprimer application</button>
								</div>

							</div>
						</mat-tab>
						<mat-tab label="Network">
							<div class="net-tab">
								<div *ngIf="pol.openNetworkConfiguration !== undefined else creerNetwork">
									<div *ngFor="let network of pol.openNetworkConfiguration.networkConfigurations; index as netId">
										<p> Network : </p>
                    <p> SSID : </p>
                    {{network[netId].GUID}}
									</div>
								</div>
							</div>
							<ng-template #creerNetwork>
								<div *ngIf="{ GUID: '', Name: '', SSID: '', Cle:'' }; let variable">
									<mat-form-field class="formField" required>
										<mat-label>GUID </mat-label>
										<input matInput [(ngModel)] = "variable.GUID"
                    placeholder="Identifier Unique " >
                  </mat-form-field>
                  <mat-form-field class="formField" required>
											<mat-label>Name </mat-label>
											<input matInput [(ngModel)] = "variable.Name"
                    placeholder="Nom/description " >
                  </mat-form-field>
                  <mat-form-field class="formField" required>
											<mat-label>Type </mat-label>
											<mat-select>
                        <mat-option value="WiFi">
                          Wifi
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field class="formField" required>
											<mat-label>SSID </mat-label>
											<input matInput [(ngModel)] = "variable.SSID"
                    placeholder="SSID - VOO-ABCDE " >
                  </mat-form-field>
                  <mat-form-field class="formField" required>
											<mat-label>Clé </mat-label>
											<input matInput [(ngModel)] = "variable.Cle"
                    placeholder="Mot de passe" >
                  </mat-form-field>
                    <button mat-button (click)="createNetwork(policyId, guid = variable.GUID, name = variable.Name, ssid = variable.SSID, type=variable.type, cle = variable.Cle)"> Créer Network </button>
								</div>
							</ng-template>
						</mat-tab>
						<mat-tab label="Inscription">
							<div class="sign-tab">
								<div *ngIf="!QR_code[policyId] else QR">
									<button mat-button class="button" (click)= "inscription(policyId)"> Inscription </button>
								</div>
								<ng-template #QR>
									<img id="qr" src={{QR_code[policyId]}} >
		            </ng-template>
							</div>
						</mat-tab>
					</mat-tab-group>
					<button mat-button (click)="update(policyId)"> Modifier </button>
				</mat-card>
			</div>
		</div>
		<ng-template #loading>Chargement liste...</ng-template>
		<ng-template #loadingQR>Chargement QR code...</ng-template>

	</mat-card>
	<div *ngIf="policies">
		<div *ngFor="let policy of policies | keyvalue; index as policyId">
			Nom de la politique : {{policy.name}} <br>
			<div *ngFor="let item of policy | keyvalue">
				{{item.key}}:{{item.value | json}}<br>
    </div>
			</div>
		</div>
	</div>