
<div *ngIf="enterprise_name">
	<mat-card class ="card">
		<mat-card-title>
			Politiques
			<button mat-button class ="button" (click)= "refresh()"> Rafraichir </button>
			<button mat-button class="button" [routerLink]="['/client', name, enterprise_name, 'policies', 'new']"> Nouvelle politique </button>
		</mat-card-title>
    
    
		<div *ngIf="policies else loading">
			<div *ngFor="let pol of policies; index as policyId">
				<mat-card class = "mat-cardPol">
					<mat-card-title>
						{{pol.name}}
						<button mat-button class ="devicesLink" [routerLink]="['/client', clientId, 'devices']">
              Devices
            </button>
            <button mat-button (click)="update(policyId)"> Modifier </button>
						<button mat-button id="supprimer" class="button" (click)= "delete(pol.name)"> Supprimer </button>
					</mat-card-title>
					<mat-tab-group>
						<mat-tab label="Infos">
							<div class="infos-tab">
                <div class ="field">
									<p>Version : {{pol.version}}</p>
                </div>
								<mat-form-field title="Changer le nom de la politique en créera une identique avec le nouveau nom entré" class="formFieldName" required>
									<mat-label>Nom de la politique </mat-label>
									<input matInput [(ngModel)]="policies[policyId].name"
                    placeholder="Ex. entreprises/NomEntreprise/policies/NomPolitique " (value)= "policies[policyId].name" >
                </mat-form-field>
							  <div class ="separateur">

                </div>
									<mat-form-field title="Politique update apps" class="formField"
										appearance="standard">
										<mat-label>App auto update </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].appAutoUpdatePolicy">
											<mat-option *ngFor="let appVal of appAutoUpdateValues | keyvalue"
												[value]="appVal.value">
												{{appVal.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Mode de localisation" class="formField"
										appearance="standard">
										<mat-label>Localisation</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].locationMode">
											<mat-option *ngFor="let appVal of locationMode | keyvalue"
												[value]="appVal.value">
												{{appVal.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Keyguard" class="formField"
										appearance="standard">
										<mat-label>KeyGuard</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].keyguardDisabledFeature">
											<mat-option *ngFor="let appVal of keyguardFeature | keyvalue"
												[value]="appVal.value">
												{{appVal.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Politique d'encryption" class="formField"
										appearance="standard">
										<mat-label>Encryption</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].encryptionPolicy">
											<mat-option *ngFor="let appVal of encryptionPolicy | keyvalue"
												[value]="appVal.value">
												{{appVal.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Mode du play store" class="formField"
										appearance="standard">
										<mat-label>Play Store</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].playStoreMode">
											<mat-option *ngFor="let appVal of playStoreMode | keyvalue"
												[value]="appVal.value">
												{{appVal.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <div class="separateur">
                    <p>Paramètres :</p>
                  </div>
                  <!-- ++ KIOSK CUSTOMISATION -->
									<!--<p>Bluetooth désactivé : {{pol.bluetoothDisabled}}</p>
									<p>Bluetooth désactivé :
										<app-bool-input property="Bluetooth" [(value)]="policies[policyId].bluetoothDisabled"
											(valueChanged)="policies[policyId].bluetoothDisabled = $event">
										</app-bool-input>

									</p>-->
									<mat-form-field title="Activation Bluetooth" class="formField"
										appearance="standard">
										<mat-label>Bluetooth </mat-label>
										<mat-select
											[(ngModel)]="policies[policyId].bluetoothDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<!--<p>Bluetooth Config désactivé : {{pol.bluetoothConfigDisabled}}</p>-->
									<mat-form-field title="Configuration du Bluetooth" class="formField"
										appearance="standard">
										<mat-label>Config Bluetooth </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].bluetoothConfigDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<!--
									<div>Ajouter Utilisateur :
										{{pol.addUserDisabled}}
										<app-bool-input property="Ajouter User" [value]="pol.addUserDisabled"
											(valueChanged)="onChanged(champ ='addUser', policyId, event)">
										</app-bool-input>
                  </div>-->
                  <mat-form-field title="Ajouter un utilisateur" class="formField"
										appearance="standard">
										<mat-label>Ajouter un utilisateur </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].addUserDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Ajuster le volume" class="formField"
										appearance="standard">
										<mat-label>Ajuster volume </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].adjustVolumeDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <!--<p>Ajuster volume : {{pol.adjustVolumeDisabled}}</p>-->
                  <mat-form-field title="Factory reset" class="formField"
										appearance="standard">
										<mat-label>Factory Reset </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].factoryResetDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<!--<p>Factory Reset : {{pol.factoryResetDisabled}}</p>-->
                  <mat-form-field title="Installer applications" class="formField"
										appearance="standard">
										<mat-label>Installer applications </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].installAppsDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<!--<p>Instaler apps : {{pol.installAppsDisabled}}</p>-->
                  <mat-form-field title="Monter media" class="formField"
										appearance="standard">
										<mat-label>Mount </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].mountPhysicalMediaDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<!--<p>Monter carte SD : {{pol.mountPhysicalMediaDisabled}}</p>-->
                  <mat-form-field title="Modifier comptes" class="formField"
										appearance="standard">
										<mat-label>Modifier comptes </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].modifyAccountsDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<!--<p>Modifier compte : {{pol.modifyAccountsDisabled}}</p>-->
                  <mat-form-field title="Safe Boot" class="formField"
										appearance="standard">
										<mat-label>Safe Boot </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].safeBootDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Désinstaller des applications" class="formField"
										appearance="standard">
										<mat-label>Désinstaller Apps </mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].uninstallAppsDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Barre de status utilisable" class="formField"
										appearance="standard">
										<mat-label>Barre de status</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].statusBarDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Désactiver password ou code de déverrouillage" class="formField"
										appearance="standard">
										<mat-label>Keyguard désactivé</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].keyguardDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Niveau de l'API minimal autorisé " class="formField"
										appearance="standard">
										<mat-label>API Level</mat-label>
										<input matInput [(ngModel)]="policies[policyId].minimumApiLevel"
                    placeholder="24" (value)= "policies[policyId].minimumApiLevel" >
									</mat-form-field>
                  <mat-form-field title="Partager les contacts en bluetooth" class="formField"
										appearance="standard">
										<mat-label>Partage de contacts bluetooth</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].bluetoothContactSharingDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Message court affiché quand une fonctionnalité est désactivée (<200 caractères)" class="formField"
										appearance="standard">
										<mat-label>Message court</mat-label>
										<input matInput [(ngModel)]="policies[policyId].shortSupportMessage"
                    placeholder="" (value)= "policies[policyId].shortSupportMessage" >
									</mat-form-field>
                  <mat-form-field title="Message affiché à l'utilisateur sur l'écran de paramètres administrateurs de l'appareil" class="formField"
										appearance="standard">
										<mat-label>Message paramètres</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].longSupportMessage">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <!-- DEPRECATED -->
                  <!--<mat-form-field title="Config lockdown wifi" class="formField"
										appearance="standard">
										<mat-label>Lockdown wifi</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].wifiConfigsLockdownEnabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>-->
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Config diffusion cellulaire</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].cellBroadcastsConfigDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config crédits" class="formField"
										appearance="standard">
										<mat-label>Config crédits</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].credentialsConfigDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config réseau mobile" class="formField"
										appearance="standard">
										<mat-label>Config réseau mobile</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].mobileNetworksConfigDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config vpn" class="formField"
										appearance="standard">
										<mat-label>Config vpn</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].vpnConfigDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config wifi" class="formField"
										appearance="standard">
										<mat-label>Config wifi</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].wifiConfigDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Créer fenêtres" class="formField"
										appearance="standard">
										<mat-label>Créer fenêtres</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].createWindowsDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Reset du réseau</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].networkResetDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>OutgoingBeam</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].outgoingBeamDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Outgoing calls</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].outgoingCallsDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Enlever utilisateur</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].removeUserDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Partage localisation" class="formField"
										appearance="standard">
										<mat-label>Partage localisation</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].shareLocationDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>SMS</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].smsDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Micro unmute</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].unmuteMicrophoneDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Transfert de fichiers USB</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].usbFileTransferDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Vérifications apps</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].ensureVerifyAppsEnabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Définir icone utilisateur</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].setUserIconDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Changer fond d'écran</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].setWallpaperDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Data roaming</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].dataRoamingDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Demande à l'utilisateur de se connecter à un réseau wifi si l'appareil n'a pu se connecter lors du démarrage" class="formField"
										appearance="standard">
										<mat-label>Hatch réseau</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].networkEscapeHatchEnabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <!-- DEPRECATED -->
                  <!--<mat-form-field title="Bloquer les applications" class="formField"
										appearance="standard">
										<mat-label>Bloquer les applications</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].blockApplicationsEnabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>-->
                  <!-- DEPRECATED -->
                  <!--<mat-form-field title="Installation de'application provenant sources inconnues" class="formField"
										appearance="standard">
										<mat-label>Sources inconnues</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].installUnknownSourcesAllowed">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>-->
                  <mat-form-field title="Easter egg accessible depuis les paramètres" class="formField"
										appearance="standard">
										<mat-label>Easter egg</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].funDisabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="" class="formField"
										appearance="standard">
										<mat-label>Date et heure automatique</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].autoTimeRequired">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Custom kiosk launcher</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].kioskCustomLauncherEnabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Cacher les indices s'affichant lors de la première utilisation d'un appareil" class="formField"
										appearance="standard">
										<mat-label>Cacher indices</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].skipFirstUseHintsEnabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>
                  <mat-form-field title="Emails utilisé pour la protection de Factory Reset" class="formField"
										appearance="standard">
										<mat-label>Emails admins</mat-label>
										<input matInput [(ngModel)]="policies[policyId].frpAdminEmails"
                    placeholder="..@gmail.com " (value)= "policies[policyId].frpAdminEmails" >
									</mat-form-field>
                  <!-- utile ?? -->
                  <!--<mat-form-field title="clés privées ?" class="formField"
										appearance="standard">
										<mat-label>private Key ?</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].privateKeySelectionEnabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>-->
                  <!-- DEPRECATED -->
                  <!--<mat-form-field title="Config diffusion cellulaire" class="formField"
										appearance="standard">
										<mat-label>Config réseau mobile</mat-label>
										<mat-select (selectionChange)="update(policyId)"
											[(value)]="policies[policyId].usbMassStorageEnabled">
											<mat-option *ngFor="let val of boolDisabled | keyvalue" [value]="val.key">
												{{val.value}}
											</mat-option>
										</mat-select>
									</mat-form-field>-->
							</div>
							<ng-template class="undefined" #NonDef>
								undefined
							</ng-template>
						</mat-tab>
						<mat-tab label="Applications">
							<div class="apps-tab">
								<div *ngFor="let app of pol.applications; index as appId">
									<mat-form-field class="formFieldApp" appearance="standard">
										<mat-label>PackageName</mat-label>
										<input matInput [(ngModel)]="policies[policyId].applications[appId].packageName"
                    placeholder="Ex. com.android.chrome " (value)= "policies[policyId].applications[appId].packageName" >
                  </mat-form-field>

										<mat-form-field class="formFieldApp" appearance="standard">
											<mat-label>Type d'installation</mat-label>
											<mat-select (selectionChange)="update(policyId)"
												[(value)]="policies[policyId].applications[appId].installType">
												<mat-option *ngFor="let val of installTypeValues | keyvalue"
													[value]="val.value">
													{{val.value}}
												</mat-option>
											</mat-select>
										</mat-form-field>

										<mat-form-field class="formFieldApp" appearance="standard">
											<mat-label>Permissions</mat-label>
											<mat-select (selectionChange)="update(policyId)"
												[(value)]="policies[policyId].applications[appId].defaultPermissionPolicy">
												<mat-option *ngFor="let val of defaultPermissionValues | keyvalue"
													[value]="val.value">
													{{val.value}}
												</mat-option>
											</mat-select>
										</mat-form-field>
                    <mat-form-field class="formFieldApp" appearance="standard">
											<mat-label>Activée</mat-label>
											<mat-select (selectionChange)="update(policyId)"
												[(value)]="policies[policyId].applications[appId].disabled">
												<mat-option *ngFor="let val of boolDisabled | keyvalue"
													[value]="val.key">
													{{val.value}}
												</mat-option>
											</mat-select>
										</mat-form-field>
										<!--<button mat-button (click)="addApp(policyId, appId)">Ajout application</button>-->
										<button mat-button (click)="delApp(policyId, appId)">Supprimer</button>
								</div>
              <button mat-button (click)="addAppli(policyId)">Ajouter</button>
							</div>
						</mat-tab>
						<mat-tab label="Network">
							<div class="net-tab">
								<div *ngIf="pol.openNetworkConfiguration !== undefined else creerNetwork">
                  <p>
                    Réseaux
                    <p>
									<div *ngFor="let network of pol.openNetworkConfiguration.networkConfigurations; index as indice">
										<p> Network : </p>
                    <p> SSID : </p>
                    {{policies[policyId].openNetworkConfiguration.networkConfigurations[indice].GUID}}
									</div>
								</div>
							</div>
							<ng-template #creerNetwork>
								<div *ngIf="{ GUID: '', Name: '', SSID: '', Cle:'' }; let variable">
									<mat-form-field class="formField" required>
										<mat-label>GUID </mat-label>
										<input matInput [(ngModel)] = "variable.GUID"
                    placeholder="Identifier Unique " >
                  </mat-form-field>
                  <mat-form-field class="formField" required>
											<mat-label>Name </mat-label>
											<input matInput [(ngModel)] = "variable.Name"
                    placeholder="Nom/description " >
                  </mat-form-field>
                  <!--<mat-form-field class="formField" required>
											<mat-label>Type </mat-label>
											<mat-select>
                        <mat-option value="WiFi">
                          Wifi
                        </mat-option>
                      </mat-select>
                  </mat-form-field>-->
                  <mat-form-field class="formField" required>
											<mat-label>SSID </mat-label>
											<input matInput [(ngModel)] = "variable.SSID"
                    placeholder="SSID - VOO-ABCDE " >
                  </mat-form-field>
                  <mat-form-field class="formField" required>
											<mat-label>Clé </mat-label>
											<input matInput [(ngModel)] = "variable.Cle"
                    placeholder="Mot de passe" >
                  </mat-form-field>
                    <button mat-button (click)="createNetwork(policyId, guid = variable.GUID, name = variable.Name, ssid = variable.SSID, type='WiFi', cle = variable.Cle)"> Créer Network </button>
								</div>
							</ng-template>
						</mat-tab>
						<mat-tab label="Inscription">
							<div class="sign-tab">
								<div *ngIf="!QR_code[policyId] else QR">
									<button mat-button class="button" (click)= "inscription(policyId)"> Inscription </button>
								</div>
								<ng-template #QR>
									<img id="qr" src={{QR_code[policyId]}} >
		            </ng-template>
							</div>
						</mat-tab>
					</mat-tab-group>
				</mat-card>
			</div>
		</div>
		<ng-template #loading>
      <div *ngIf="noPolitiques else load">
        Pas de politiques
      </div>
      <ng-template #load>
        Chargement liste...
      </ng-template>
      </ng-template>
		<ng-template #loadingQR>Chargement QR code...</ng-template>

	</mat-card>
  <!--
  <div >
    <app-policies-table client = "client">
    </app-policies-table>
  </div>
	<div *ngIf="policies">
		<div *ngFor="let policy of policies | keyvalue; index as policyId">
			Nom de la politique : {{policy.name}} <br>
			<div *ngFor="let item of policy | keyvalue">
				{{item.key}}:{{item.value | json}}<br>
    </div>
			</div>
		</div>-->
	</div>