.infos-tab, .apps-tab, .net-tab, .sign-tab
{
  height:600px;
}
.apps-tab> div{
  display:flex;
  flex-wrap:wrap;
}
.select 
{
  background : gray;
}
.undefined
{
  display:flex;
  float:right;
}
.separateur
{
  border-bottom: 1px gray;
}
.sign-tab
{
  text-align:center;
}
.formField
{
  width:15%;
  margin-right : 15px;
  margin-bottom : -20px;
}
.formFieldName
{
  width:50%;
  margin-right : 15px;
}
.formFieldApp
{
  height:60px;
}
#supprimer
{
  margin-left:-80px;
  float:right;
}
.devicesLink
{
   text-decoration: none;
   cursor: pointer;
   color:gray;
}
.mat-card
{
  margin-bottom: 5px;
}