.infos-tab, .apps-tab, .net-tab, .sign-tab
{
  height:200px;
}
.apps-tab> div{
  display:flex;
  flex-wrap:wrap;
}
.select 
{
  background : gray;
}
.undefined
{
  display:flex;
  float:right;
}
.sign-tab
{
  text-align:center;
}
.formField
{
  width:60%;
}
.formFieldApp
{
  height:30px;
}
#supprimer
{
  margin-left:-80px;
  float:right;
}
.devicesLink
{
   text-decoration: none;
   cursor: pointer;
   color:gray;
}